# PART D

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('concrete_data.csv')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.shape

(1030, 9)

In [4]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data_columns = df.columns

X = df[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
Y = df['Strength']

In [6]:
X_norm = (X - X.mean()) / X.std()
X_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [7]:
n_cols = X_norm.shape[1]
n_cols

8

In [8]:
import keras

WARNING:tensorflow:From C:\Users\ashut\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [9]:
from keras.models import Sequential
from keras.layers import Dense

In [10]:
def regression_model():
    
    model=Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_norm, Y, test_size=0.3, random_state=42)

In [12]:
model = regression_model()

WARNING:tensorflow:From C:\Users\ashut\anaconda3\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\ashut\anaconda3\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [13]:
epochs = 50
model.fit(X_train, Y_train, epochs=epochs, verbose=2)

Epoch 1/50
WARNING:tensorflow:From C:\Users\ashut\anaconda3\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

23/23 - 1s - loss: 1616.8733 - 922ms/epoch - 40ms/step
Epoch 2/50
23/23 - 0s - loss: 1584.6082 - 34ms/epoch - 1ms/step
Epoch 3/50
23/23 - 0s - loss: 1549.5247 - 36ms/epoch - 2ms/step
Epoch 4/50
23/23 - 0s - loss: 1501.3157 - 35ms/epoch - 2ms/step
Epoch 5/50
23/23 - 0s - loss: 1433.9917 - 33ms/epoch - 1ms/step
Epoch 6/50
23/23 - 0s - loss: 1335.0502 - 29ms/epoch - 1ms/step
Epoch 7/50
23/23 - 0s - loss: 1193.9036 - 30ms/epoch - 1ms/step
Epoch 8/50
23/23 - 0s - loss: 1001.6924 - 33ms/epoch - 1ms/step
Epoch 9/50
23/23 - 0s - loss: 771.8005 - 25ms/epoch - 1ms/step
Epoch 10/50
23/23 - 0s - loss: 546.3026 - 33ms/epoch - 1ms/step
Epoch 11/50
23/23 - 0s - loss: 372.3571 - 34ms/epoch - 1ms/step
Epoch 12/50
23/23 - 0s - loss: 274.1919 - 30ms/epoch - 1ms/step
Epoch 13/50
23/23 - 0s - loss: 236.4535 - 33ms/epoch - 1ms/step
Epoch 14/50
23/23 - 0s - loss: 218.0486 - 31ms/epoch - 1ms/step
Epoch 15/50
23/23 - 0s - loss: 207.6573 - 29ms/epoch - 1ms/step
Epoch 16/50
23/23 - 0s - loss: 198.9928 - 31ms/epoch - 1ms/step
Epoch 17/50
23/23 - 0s - loss: 191.5721 - 31ms/epoch - 1ms/step
Epoch 18/50
23/23 - 0s - loss: 185.2857 - 33ms/epoch - 1ms/step
Epoch 19/50
23/23 - 0s - loss: 180.2143 - 210ms/epoch - 9ms/step
Epoch 20/50
23/23 - 0s - loss: 176.0353 - 31ms/epoch - 1ms/step
Epoch 21/50
23/23 - 0s - loss: 172.0899 - 30ms/epoch - 1ms/step
Epoch 22/50
23/23 - 0s - loss: 168.9330 - 31ms/epoch - 1ms/step
Epoch 23/50
23/23 - 0s - loss: 166.3200 - 29ms/epoch - 1ms/step
Epoch 24/50
23/23 - 0s - loss: 163.9332 - 32ms/epoch - 1ms/step
Epoch 25/50
23/23 - 0s - loss: 161.6098 - 31ms/epoch - 1ms/step
Epoch 26/50
23/23 - 0s - loss: 159.4351 - 29ms/epoch - 1ms/step
Epoch 27/50
23/23 - 0s - loss: 157.4921 - 30ms/epoch - 1ms/step
Epoch 28/50
23/23 - 0s - loss: 155.7388 - 32ms/epoch - 1ms/step
Epoch 29/50
23/23 - 0s - loss: 154.5256 - 31ms/epoch - 1ms/step
Epoch 30/50
23/23 - 0s - loss: 152.7795 - 32ms/epoch - 1ms/step
Epoch 31/50
23/23 - 0s - loss: 151.6153 - 31ms/epoch - 1ms/step
Epoch 32/50
23/23 - 0s - loss: 150.8809 - 31ms/epoch - 1ms/step
Epoch 33/50
23/23 - 0s - loss: 149.2877 - 32ms/epoch - 1ms/step
Epoch 34/50
23/23 - 0s - loss: 148.0452 - 30ms/epoch - 1ms/step
Epoch 35/50
23/23 - 0s - loss: 147.1380 - 30ms/epoch - 1ms/step
Epoch 36/50
23/23 - 0s - loss: 146.1943 - 32ms/epoch - 1ms/step
Epoch 37/50
23/23 - 0s - loss: 144.9254 - 31ms/epoch - 1ms/step
Epoch 38/50
23/23 - 0s - loss: 144.6456 - 32ms/epoch - 1ms/step
Epoch 39/50
23/23 - 0s - loss: 143.0482 - 29ms/epoch - 1ms/step
Epoch 40/50
23/23 - 0s - loss: 142.1405 - 31ms/epoch - 1ms/step
Epoch 41/50
23/23 - 0s - loss: 141.3059 - 33ms/epoch - 1ms/step
Epoch 42/50
23/23 - 0s - loss: 140.3724 - 30ms/epoch - 1ms/step
Epoch 43/50
23/23 - 0s - loss: 139.6669 - 31ms/epoch - 1ms/step
Epoch 44/50
23/23 - 0s - loss: 138.6982 - 33ms/epoch - 1ms/step
Epoch 45/50
23/23 - 0s - loss: 137.5124 - 33ms/epoch - 1ms/step
Epoch 46/50
23/23 - 0s - loss: 136.7650 - 35ms/epoch - 2ms/step
Epoch 47/50
23/23 - 0s - loss: 135.9037 - 31ms/epoch - 1ms/step
Epoch 48/50
23/23 - 0s - loss: 135.1863 - 31ms/epoch - 1ms/step
Epoch 49/50
23/23 - 0s - loss: 134.4073 - 24ms/epoch - 1ms/step
Epoch 50/50
23/23 - 0s - loss: 133.6671 - 37ms/epoch - 2ms/step

In [14]:
Y_pred = model.predict(X_test)

10/10 [==============================] - 0s 1ms/step

In [15]:
eval_model = model.evaluate(X_test, Y_test)
eval_model

10/10 [==============================] - 0s 1ms/step - loss: 131.3024

131.3024444580078

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
mse = mean_squared_error(Y_test, Y_pred)
mean_mse = np.mean(mse)
std_mse = np.std(mse)
print("Mean of Mean_Squared_Error: ", mean_mse)
print("Squared of Mean_Squared_Error: ", std_mse)

Mean of Mean_Squared_Error:  131.30245301951967
Squared of Mean_Squared_Error:  0.0

In [18]:
total_mse = 50
epochs = 50
mse_values = []
for i in range(0, total_mse):
    X_train, X_test, Y_train, Y_test = train_test_split(X_norm, Y, test_size = 0.3, random_state=i)
    model.fit(X_train, Y_train, epochs=epochs, verbose=0)
    MSE_eval = model.evaluate(X_test, Y_test, verbose=0)
    print("MSE "+str(i+1)+': '+str(MSE_eval))
    Y_prediction = model.predict(X_test)
    mse = mean_squared_error(Y_test, Y_prediction)
    mse_values.append(mse)
    
mean_mse = np.mean(mse)
std_mse = np.std(mse)

print("Mean of Mean Squared Error: ",str(mean_mse))
print("Standard Deviation of Mean Squared Error: ",str(std_mse))

MSE 1: 90.10113525390625
10/10 [==============================] - 0s 1ms/step
MSE 2: 67.96112823486328
10/10 [==============================] - 0s 2ms/step
MSE 3: 43.22669982910156
10/10 [==============================] - 0s 1ms/step
MSE 4: 36.714962005615234
10/10 [==============================] - 0s 2ms/step
MSE 5: 34.39214324951172
10/10 [==============================] - 0s 719us/step
MSE 6: 34.252750396728516
10/10 [==============================] - 0s 2ms/step
MSE 7: 36.2686767578125
10/10 [==============================] - 0s 1ms/step
MSE 8: 25.381778717041016
10/10 [==============================] - 0s 1ms/step
MSE 9: 29.239782333374023
10/10 [==============================] - 0s 1ms/step
MSE 10: 28.030277252197266
10/10 [==============================] - 0s 1ms/step
MSE 11: 26.12019157409668
10/10 [==============================] - 0s 1ms/step
MSE 12: 22.10153579711914
10/10 [==============================] - 0s 1ms/step
MSE 13: 28.579587936401367
10/10 [==============================] - 0s 1ms/step
MSE 14: 30.070749282836914
10/10 [==============================] - 0s 1ms/step
MSE 15: 24.421667098999023
10/10 [==============================] - 0s 2ms/step
MSE 16: 18.430830001831055
10/10 [==============================] - 0s 1ms/step
MSE 17: 24.393712997436523
10/10 [==============================] - 0s 3ms/step
MSE 18: 26.03114891052246
10/10 [==============================] - 0s 518us/step
MSE 19: 22.931730270385742
10/10 [==============================] - 0s 1ms/step
MSE 20: 27.09030532836914
10/10 [==============================] - 0s 2ms/step
MSE 21: 22.217744827270508
10/10 [==============================] - 0s 2ms/step
MSE 22: 24.105846405029297
10/10 [==============================] - 0s 2ms/step
MSE 23: 21.830732345581055
10/10 [==============================] - 0s 2ms/step
MSE 24: 19.365703582763672
10/10 [==============================] - 0s 2ms/step
MSE 25: 23.9571533203125
10/10 [==============================] - 0s 2ms/step
MSE 26: 24.992082595825195
10/10 [==============================] - 0s 3ms/step
MSE 27: 21.124258041381836
10/10 [==============================] - 0s 2ms/step
MSE 28: 21.756084442138672
10/10 [==============================] - 0s 2ms/step
MSE 29: 22.408048629760742
10/10 [==============================] - 0s 889us/step
MSE 30: 19.9409236907959
10/10 [==============================] - 0s 1ms/step
MSE 31: 17.880617141723633
10/10 [==============================] - 0s 2ms/step
MSE 32: 17.394105911254883
10/10 [==============================] - 0s 2ms/step
MSE 33: 18.182832717895508
10/10 [==============================] - 0s 2ms/step
MSE 34: 18.35635757446289
10/10 [==============================] - 0s 3ms/step
MSE 35: 19.69454574584961
10/10 [==============================] - 0s 1ms/step
MSE 36: 23.748851776123047
10/10 [==============================] - 0s 1ms/step
MSE 37: 15.811779022216797
10/10 [==============================] - 0s 2ms/step
MSE 38: 20.064693450927734
10/10 [==============================] - 0s 1ms/step
MSE 39: 18.490182876586914
10/10 [==============================] - 0s 2ms/step
MSE 40: 17.855981826782227
10/10 [==============================] - 0s 2ms/step
MSE 41: 19.136531829833984
10/10 [==============================] - 0s 0s/step
MSE 42: 17.24833106994629
10/10 [==============================] - 0s 2ms/step
MSE 43: 18.333215713500977
10/10 [==============================] - 0s 2ms/step
MSE 44: 21.185016632080078
10/10 [==============================] - 0s 2ms/step
MSE 45: 21.356294631958008
10/10 [==============================] - 0s 3ms/step
MSE 46: 16.330242156982422
10/10 [==============================] - 0s 3ms/step
MSE 47: 17.741901397705078
10/10 [==============================] - 0s 2ms/step
MSE 48: 16.59537696838379
10/10 [==============================] - 0s 2ms/step
MSE 49: 18.05879783630371
10/10 [==============================] - 0s 2ms/step
MSE 50: 18.00088882446289
10/10 [==============================] - 0s 2ms/step
Mean of Mean Squared Error:  18.00088841885733
Standard Deviation of Mean Squared Error:  0.0