# PART B

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('concrete_data.csv')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.shape

(1030, 9)

In [4]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data_columns = df.columns

X = df[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
Y = df['Strength']

In [16]:
X_norm = (X - X.mean()) / X.std()
X_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [17]:
n_cols = X_norm.shape[1]
n_cols

8

In [18]:
import keras

In [19]:
from keras.models import Sequential
from keras.layers import Dense

In [20]:
def regression_model():
    
    model=Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_norm, Y, test_size=0.3, random_state=42)

In [30]:
model = regression_model()

In [34]:
epochs = 50
model.fit(X_train, Y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 360.9166 - 45ms/epoch - 2ms/step
Epoch 2/50
23/23 - 0s - loss: 346.1936 - 31ms/epoch - 1ms/step
Epoch 3/50
23/23 - 0s - loss: 332.4796 - 31ms/epoch - 1ms/step
Epoch 4/50
23/23 - 0s - loss: 319.2952 - 32ms/epoch - 1ms/step
Epoch 5/50
23/23 - 0s - loss: 307.3275 - 47ms/epoch - 2ms/step
Epoch 6/50
23/23 - 0s - loss: 296.1587 - 31ms/epoch - 1ms/step
Epoch 7/50
23/23 - 0s - loss: 285.5930 - 32ms/epoch - 1ms/step
Epoch 8/50
23/23 - 0s - loss: 276.0085 - 47ms/epoch - 2ms/step
Epoch 9/50
23/23 - 0s - loss: 267.0516 - 32ms/epoch - 1ms/step
Epoch 10/50
23/23 - 0s - loss: 258.6829 - 46ms/epoch - 2ms/step
Epoch 11/50
23/23 - 0s - loss: 251.1099 - 31ms/epoch - 1ms/step
Epoch 12/50
23/23 - 0s - loss: 243.8605 - 32ms/epoch - 1ms/step
Epoch 13/50
23/23 - 0s - loss: 237.4579 - 31ms/epoch - 1ms/step
Epoch 14/50
23/23 - 0s - loss: 231.5721 - 31ms/epoch - 1ms/step
Epoch 15/50
23/23 - 0s - loss: 226.1735 - 34ms/epoch - 1ms/step
Epoch 16/50
23/23 - 0s - loss: 221.1908 - 31ms/epoch - 1ms/step
Epoch 17/50
23/23 - 0s - loss: 216.7552 - 47ms/epoch - 2ms/step
Epoch 18/50
23/23 - 0s - loss: 212.5823 - 31ms/epoch - 1ms/step
Epoch 19/50
23/23 - 0s - loss: 208.9422 - 47ms/epoch - 2ms/step
Epoch 20/50
23/23 - 0s - loss: 205.3818 - 32ms/epoch - 1ms/step
Epoch 21/50
23/23 - 0s - loss: 202.2969 - 31ms/epoch - 1ms/step
Epoch 22/50
23/23 - 0s - loss: 199.2710 - 32ms/epoch - 1ms/step
Epoch 23/50
23/23 - 0s - loss: 196.7265 - 31ms/epoch - 1ms/step
Epoch 24/50
23/23 - 0s - loss: 194.2297 - 31ms/epoch - 1ms/step
Epoch 25/50
23/23 - 0s - loss: 191.9881 - 32ms/epoch - 1ms/step
Epoch 26/50
23/23 - 0s - loss: 189.8578 - 47ms/epoch - 2ms/step
Epoch 27/50
23/23 - 0s - loss: 187.9153 - 47ms/epoch - 2ms/step
Epoch 28/50
23/23 - 0s - loss: 186.0965 - 31ms/epoch - 1ms/step
Epoch 29/50
23/23 - 0s - loss: 184.3166 - 47ms/epoch - 2ms/step
Epoch 30/50
23/23 - 0s - loss: 182.7810 - 32ms/epoch - 1ms/step
Epoch 31/50
23/23 - 0s - loss: 181.2666 - 47ms/epoch - 2ms/step
Epoch 32/50
23/23 - 0s - loss: 179.8082 - 47ms/epoch - 2ms/step
Epoch 33/50
23/23 - 0s - loss: 178.4671 - 31ms/epoch - 1ms/step
Epoch 34/50
23/23 - 0s - loss: 177.0786 - 31ms/epoch - 1ms/step
Epoch 35/50
23/23 - 0s - loss: 175.8473 - 32ms/epoch - 1ms/step
Epoch 36/50
23/23 - 0s - loss: 174.5878 - 31ms/epoch - 1ms/step
Epoch 37/50
23/23 - 0s - loss: 173.3828 - 47ms/epoch - 2ms/step
Epoch 38/50
23/23 - 0s - loss: 172.2491 - 29ms/epoch - 1ms/step
Epoch 39/50
23/23 - 0s - loss: 171.1379 - 47ms/epoch - 2ms/step
Epoch 40/50
23/23 - 0s - loss: 170.0484 - 32ms/epoch - 1ms/step
Epoch 41/50
23/23 - 0s - loss: 169.0286 - 47ms/epoch - 2ms/step
Epoch 42/50
23/23 - 0s - loss: 167.9335 - 31ms/epoch - 1ms/step
Epoch 43/50
23/23 - 0s - loss: 166.9380 - 31ms/epoch - 1ms/step
Epoch 44/50
23/23 - 0s - loss: 165.9745 - 31ms/epoch - 1ms/step
Epoch 45/50
23/23 - 0s - loss: 164.9857 - 32ms/epoch - 1ms/step
Epoch 46/50
23/23 - 0s - loss: 163.9625 - 31ms/epoch - 1ms/step
Epoch 47/50
23/23 - 0s - loss: 163.0221 - 31ms/epoch - 1ms/step
Epoch 48/50
23/23 - 0s - loss: 162.1252 - 32ms/epoch - 1ms/step
Epoch 49/50
23/23 - 0s - loss: 161.2230 - 47ms/epoch - 2ms/step
Epoch 50/50
23/23 - 0s - loss: 160.4383 - 32ms/epoch - 1ms/step

In [35]:
Y_pred = model.predict(X_test)

10/10 [==============================] - 0s 1ms/step

In [36]:
eval_model = model.evaluate(X_test, Y_test)
eval_model

10/10 [==============================] - 0s 3ms/step - loss: 159.5542

159.55419921875

In [37]:
from sklearn.metrics import mean_squared_error

In [38]:
mse = mean_squared_error(Y_test, Y_pred)
mean_mse = np.mean(mse)
std_mse = np.std(mse)
print("Mean of Mean_Squared_Error: ", mean_mse)
print("Squared of Mean_Squared_Error: ", std_mse)

Mean of Mean_Squared_Error:  159.55419077683442
Squared of Mean_Squared_Error:  0.0

In [40]:
total_mse = 50
epochs = 50
mse_values = []
for i in range(0, total_mse):
    X_train, X_test, Y_train, Y_test = train_test_split(X_norm, Y, test_size = 0.3, random_state=i)
    model.fit(X_train, Y_train, epochs=epochs, verbose=0)
    MSE_eval = model.evaluate(X_test, Y_test, verbose=0)
    print("MSE "+str(i+1)+': '+str(MSE_eval))
    Y_prediction = model.predict(X_test)
    mse = mean_squared_error(Y_test, Y_prediction)
    mse_values.append(mse)
    
mean_mse = np.mean(mse)
std_mse = np.std(mse)

print("Mean of Mean Squared Error: ",str(mean_mse))
print("Standard Deviation of Mean Squared Error: ",str(std_mse))

MSE 1: 72.88605499267578
10/10 [==============================] - 0s 2ms/step
MSE 2: 70.62577056884766
10/10 [==============================] - 0s 1ms/step
MSE 3: 45.74234390258789
10/10 [==============================] - 0s 1ms/step
MSE 4: 45.85926055908203
10/10 [==============================] - 0s 2ms/step
MSE 5: 44.55360794067383
10/10 [==============================] - 0s 1ms/step
MSE 6: 47.69864273071289
10/10 [==============================] - 0s 2ms/step
MSE 7: 47.26375961303711
10/10 [==============================] - 0s 1ms/step
MSE 8: 35.710121154785156
10/10 [==============================] - 0s 1ms/step
MSE 9: 38.34623336791992
10/10 [==============================] - 0s 1ms/step
MSE 10: 37.8465690612793
10/10 [==============================] - 0s 874us/step
MSE 11: 38.18667984008789
10/10 [==============================] - 0s 928us/step
MSE 12: 36.69196701049805
10/10 [==============================] - 0s 1ms/step
MSE 13: 43.93619155883789
10/10 [==============================] - 0s 1ms/step
MSE 14: 44.43686294555664
10/10 [==============================] - 0s 2ms/step
MSE 15: 36.36638641357422
10/10 [==============================] - 0s 1ms/step
MSE 16: 33.16252517700195
10/10 [==============================] - 0s 1ms/step
MSE 17: 36.7851676940918
10/10 [==============================] - 0s 1ms/step
MSE 18: 36.69293975830078
10/10 [==============================] - 0s 1ms/step
MSE 19: 36.08320617675781
10/10 [==============================] - 0s 1ms/step
MSE 20: 36.18459701538086
10/10 [==============================] - 0s 560us/step
MSE 21: 33.41274642944336
10/10 [==============================] - 0s 1ms/step
MSE 22: 36.05453109741211
10/10 [==============================] - 0s 1ms/step
MSE 23: 31.49372100830078
10/10 [==============================] - 0s 1ms/step
MSE 24: 34.909725189208984
10/10 [==============================] - 0s 1ms/step
MSE 25: 37.90662384033203
10/10 [==============================] - 0s 2ms/step
MSE 26: 36.341880798339844
10/10 [==============================] - 0s 1ms/step
MSE 27: 33.79345703125
10/10 [==============================] - 0s 1ms/step
MSE 28: 31.540136337280273
10/10 [==============================] - 0s 1ms/step
MSE 29: 39.1118049621582
10/10 [==============================] - 0s 1ms/step
MSE 30: 36.64067840576172
10/10 [==============================] - 0s 1ms/step
MSE 31: 32.552520751953125
10/10 [==============================] - 0s 1ms/step
MSE 32: 30.85868263244629
10/10 [==============================] - 0s 1ms/step
MSE 33: 31.63163948059082
10/10 [==============================] - 0s 786us/step
MSE 34: 33.0064697265625
10/10 [==============================] - 0s 1ms/step
MSE 35: 33.115081787109375
10/10 [==============================] - 0s 1ms/step
MSE 36: 37.80250549316406
10/10 [==============================] - 0s 1ms/step
MSE 37: 30.616422653198242
10/10 [==============================] - 0s 1ms/step
MSE 38: 34.89382553100586
10/10 [==============================] - 0s 1ms/step
MSE 39: 32.823387145996094
10/10 [==============================] - 0s 913us/step
MSE 40: 27.633346557617188
10/10 [==============================] - 0s 1ms/step
MSE 41: 36.29291534423828
10/10 [==============================] - 0s 1ms/step
MSE 42: 28.07994270324707
10/10 [==============================] - 0s 1ms/step
MSE 43: 30.10581398010254
10/10 [==============================] - 0s 906us/step
MSE 44: 36.396636962890625
10/10 [==============================] - 0s 0s/step
MSE 45: 34.75251770019531
10/10 [==============================] - 0s 2ms/step
MSE 46: 31.658519744873047
10/10 [==============================] - 0s 0s/step
MSE 47: 31.56153678894043
10/10 [==============================] - 0s 2ms/step
MSE 48: 33.949180603027344
10/10 [==============================] - 0s 2ms/step
MSE 49: 34.035736083984375
10/10 [==============================] - 0s 1ms/step
MSE 50: 33.101539611816406
10/10 [==============================] - 0s 2ms/step
Mean of Mean Squared Error:  33.10153992213206
Standard Deviation of Mean Squared Error:  0.0

### Mean of Mean_Squared_Error of PART B is less compared to PART A